

.orderPageContainer{


    display: flex;
    flex-direction: column;


       .orderPageHeaderContainer{

        display: flex;
        justify-content: space-between;
              
            
       }
     
}